In [4]:
import pandas as pd
from pandas_datareader import data as wb
import numpy as np

In [5]:
tickers=['PG','BEI.DE']

In [8]:
ds=pd.DataFrame()
for t in tickers:
    ds[t]=wb.DataReader(t,data_source='yahoo',start='2007-1-1')['Adj Close']
ds

                    PG     BEI.DE
Date
2007-01-03   42.380424  40.627869
2007-01-04   42.058666  40.894630
2007-01-05   41.697510  40.053936
2007-01-08   41.789440  40.062027
2007-01-09   41.684357  39.156666
...                ...        ...
2021-03-25  133.479996  90.199997
2021-03-26  135.449997  88.860001
2021-03-29  137.570007  90.220001
2021-03-30  135.449997  90.040001
2021-03-31  135.429993  90.099998

[3586 rows x 2 columns]

In [11]:
sec_returns=np.log(ds/ds.shift(1))
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002518 -0.022858
...              ...       ...
2021-03-25  0.006916  0.010924
2021-03-26  0.014651 -0.014967
2021-03-29  0.015530  0.015189
2021-03-30 -0.015530 -0.001997
2021-03-31 -0.000148  0.000666

[3586 rows x 2 columns]

In [21]:
sec_return_a=sec_returns[tickers].mean()*250
sec_return_a

PG        0.081016
BEI.DE    0.050522
dtype: float64

In [22]:
sec_var_a=sec_returns[tickers].var()*250
sec_var

PG        0.035185
BEI.DE    0.047983
dtype: float64

In [23]:
sec_cov_matrix=sec_returns.cov()
sec_cov_matrix

              PG    BEI.DE
PG      0.000141  0.000045
BEI.DE  0.000045  0.000192

In [25]:
sec_cov_a_matrix=sec_returns.cov()*250
sec_cov_a_matrix

              PG    BEI.DE
PG      0.035185  0.011140
BEI.DE  0.011140  0.047983

In [26]:
sec_corr_matrix=sec_return.corr()
sec_corr_matrix

              PG    BEI.DE
PG      1.000000  0.270733
BEI.DE  0.270733  1.000000

In [27]:
weights=np.array([0.5,0.5])

In [29]:
portfolio_var=np.dot(weights.T,np.dot(sec_returns.cov()*250,weights))
portfolio_var

0.02636186863583948

In [31]:
portfolio_volatility=portfolio_var**0.5
portfolio_volatility

0.16236338452939283

In [32]:
sec_var_a

PG        0.035185
BEI.DE    0.047983
dtype: float64

In [33]:
type(sec_var_a)

pandas.core.series.Series

In [34]:
sec_var_a['PG']

0.035185255100619525

In [35]:
sum(sec_var_a)

0.08316828211169967

In [37]:
weights**2

array([0.25, 0.25])

In [40]:
np.dot((weights**2).T,sec_var_a)

0.02079207052792492

In [41]:
portfolio_diversifiable_risk=portfolio_var-np.dot((weights**2).T,sec_var_a)
portfolio_diversifiable_risk

0.00556979810791456

In [42]:
portfolio_non_diversifiable_risk=portfolio_var-portfolio_diversifiable_risk
portfolio_non_diversifiable_risk

0.02079207052792492

In [43]:
portfolio_non_diversifiable_risk=np.dot((weights**2).T,sec_var_a)
portfolio_non_diversifiable_risk

0.02079207052792492

In [46]:
print(f'{round(portfolio_diversifiable_risk*100,3)}%')

0.557%