In [1]:
import pandas as pd
from pandas_datareader import data as wb
import numpy as np

In [21]:
tickers=['^GSPC','PG']
sec_prices=pd.DataFrame()
for t in tickers:
    sec_prices[t]=wb.DataReader(t,data_source='yahoo',start='2012-1-1',end='2016-12-31')['Adj Close']
sec_prices

                  ^GSPC         PG
Date
2012-01-03  1277.060059  50.355068
2012-01-04  1277.300049  50.332466
2012-01-05  1281.060059  50.121490
2012-01-06  1277.810059  50.000938
2012-01-09  1280.699951  50.211895
...                 ...        ...
2016-12-23  2263.790039  75.082909
2016-12-27  2268.879883  74.764763
2016-12-28  2249.919922  74.296371
2016-12-29  2249.260010  74.543831
2016-12-30  2238.830078  74.305229

[1258 rows x 2 columns]

In [22]:
sec_returns=np.log(sec_prices/sec_prices.shift(1))
sec_returns

               ^GSPC        PG
Date
2012-01-03       NaN       NaN
2012-01-04  0.000188 -0.000449
2012-01-05  0.002939 -0.004200
2012-01-06 -0.002540 -0.002408
2012-01-09  0.002259  0.004210
...              ...       ...
2016-12-23  0.001251  0.005784
2016-12-27  0.002246 -0.004246
2016-12-28 -0.008392 -0.006285
2016-12-29 -0.000293  0.003325
2016-12-30 -0.004648 -0.003206

[1258 rows x 2 columns]

In [23]:
sec_cov_with_market=sec_returns.cov()*250
sec_cov_with_market

          ^GSPC        PG
^GSPC  0.016362  0.010078
PG     0.010078  0.020409

In [24]:
market_var=sec_returns['^GSPC'].var()*250
market_var

0.01636163100230847

**Beta:**
### $$
\beta_{pg}=\frac{\sigma_{pg,m}}{\sigma_{m}^2}
$$

In [25]:
betas=sec_cov_with_market/market_var
betas=betas['^GSPC']
betas

^GSPC    1.000000
PG       0.615958
Name: ^GSPC, dtype: float64

**Expected return**
### $$
\overline{r_{pg}}=r_{f}+\beta_{pg}(\overline{r_{m}}-r_{f})
$$

In [27]:
expected_returns=0.025+betas*0.05
expected_returns

^GSPC    0.075000
PG       0.055798
Name: ^GSPC, dtype: float64

**Sharp Ratio:**
### $$
Sharp=\frac{\overline{r_{pg}}-r_{f}}{\sigma_{pg}}
$$

In [28]:
sharp=(expected_returns-0.025)/(sec_returns.std()*250**0.5)
sharp

^GSPC    0.390892
PG       0.215581
dtype: float64