## Calculating the Risk of a Security

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Download the data for Microsoft (‘MSFT’) from Yahoo Finance for the period ‘2000-1-1’ until today. <br />
Assess the daily and the annual risk of ‘MSFT’. Repeat the exercise for Apple for the same timeframe.

In [19]:
import pandas as pd
import pandas_datareader as wb
import matplotlib.pyplot as plt
import numpy as np

tickers=['MSFT','AAPL']
data=pd.DataFrame()
for t in tickers:
    data[t]=wb.DataReader(t,data_source='yahoo',start='2000-1-1')['Adj Close']

returns=np.log(data/data.shift(1))
returns

                MSFT      AAPL
Date
2000-01-03       NaN       NaN
2000-01-04 -0.034364 -0.088077
2000-01-05  0.010488  0.014527
2000-01-06 -0.034072 -0.090514
2000-01-07  0.012983  0.046281
...              ...       ...
2021-02-05  0.000785 -0.003103
2021-02-08  0.001114  0.001096
2021-02-09  0.005347 -0.006595
2021-02-10 -0.003905 -0.004569
2021-02-11  0.002714 -0.005035

[5312 rows x 2 columns]

### MSFT

Daily risk:

In [22]:
msft=wb.DataReader('MSFT',data_source='yahoo',start='2000-1-1')
msft_return=np.log(msft['Adj Close']/msft['Adj Close'].shift(1))
msft_daily_risk=msft_return.std()
str(round(msft_daily_risk*100,3))+'%'

str(round(returns['MSFT'].std(),3))+'%'

'0.019%'

Annual risk:

In [24]:
round((returns['MSFT'].std()*250**0.5)*100,3)

30.785

### Apple

Daily risk:

In [28]:
str(round(returns['AAPL'].std()*100,3))+'%'

'2.654%'

Annual risk:

In [29]:
str(round((returns['AAPL'].std()*250**0.5)*100,3))+'%'

'41.956%'

******

Store the volatilities of the two stocks in an array called “vols”.

In [32]:
vols=returns[['MSFT','AAPL']].std()*250**0.5
vols

MSFT    0.307846
AAPL    0.419560
dtype: float64

How are the two risk values different?