In [12]:
import pandas as pd
import pandas_datareader as wb
import matplotlib.pyplot as plt
import numpy as np

In [13]:
tickers=['PG','BEI.DE']
ticker=tickers[0]
wb.DataReader(ticker,data_source="yahoo",start='2017-1-1')

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2017-01-03,84.389999,83.500000,83.879997,84.199997,8792700.0,74.411263
2017-01-04,84.599998,84.239998,84.449997,84.500000,8096700.0,74.676392
2017-01-05,85.430000,84.379997,84.410004,85.059998,6852400.0,75.171272
2017-01-06,85.250000,84.620003,84.940002,85.029999,4799900.0,75.144768
2017-01-09,84.660004,83.750000,84.059998,84.400002,11000600.0,74.588020
...,...,...,...,...,...,...
2021-02-04,129.460007,128.580002,129.380005,129.029999,6613700.0,129.029999
2021-02-05,130.100006,129.029999,129.119995,129.570007,5063300.0,129.570007
2021-02-08,130.100006,128.110001,129.929993,129.169998,7011200.0,129.169998
2021-02-09,129.940002,128.229996,129.460007,128.669998,5917800.0,128.669998
2021-02-10,129.149994,127.959999,128.750000,128.220001,6938145.0,128.220001

In [14]:
data=pd.DataFrame()
for t in tickers:
    data[t]=wb.DataReader(t,data_source="yahoo",start='2017-1-1')['Adj Close']

In [15]:
data.tail()

                    PG     BEI.DE
Date
2021-02-04  129.029999  91.419998
2021-02-05  129.570007  93.000000
2021-02-08  129.169998  92.019997
2021-02-09  128.669998  91.940002
2021-02-10  128.220001  91.879997

In [16]:
returns=np.log(data/data.shift(1))

In [17]:
returns

                  PG    BEI.DE
Date
2017-01-03       NaN       NaN
2017-01-04  0.003557 -0.007798
2017-01-05  0.006605  0.003968
2017-01-06 -0.000353 -0.003223
2017-01-09 -0.007437  0.002852
...              ...       ...
2021-02-04  0.000620  0.001533
2021-02-05  0.004176  0.017135
2021-02-08 -0.003092 -0.010594
2021-02-09 -0.003878 -0.000870
2021-02-10 -0.003503 -0.000653

[1034 rows x 2 columns]

## PG

Simple Return

In [20]:
returns['PG'].mean()*250

0.13168931264391864

Std Deviation

In [21]:
returns['PG'].std()

0.013335710004207413

In [24]:
annual_std_return_pg=returns['PG'].std()*250**0.5
annual_std_return_pg

0.21085608914394532

## BEI.DE

Simple Return

In [27]:
returns['BEI.DE'].mean()*250

0.048836579006590324

Std Deviation

In [28]:
returns['BEI.DE'].std()

0.012423607822899476

In [31]:
annual_return_std_bei=returns['BEI.DE'].std()*250**0.5
annual_return_std_bei

0.19643448738524064

In [32]:
print(annual_std_return_pg)
print(annual_return_std_bei)

0.21085608914394532
0.19643448738524064

In [35]:
returns.mean()*250

PG        0.131689
BEI.DE    0.048837
dtype: float64

In [39]:
returns[['PG','BEI.DE']].mean()*250

PG        0.131689
BEI.DE    0.048837
dtype: float64

In [38]:
returns.mean()

PG        0.000527
BEI.DE    0.000195
dtype: float64

In [41]:
returns[['PG','BEI.DE']].std()*250**0.5

PG        0.210856
BEI.DE    0.196434
dtype: float64