**Black Scholes Formula**
### $$
C(S,t)=N(d_1)S-N(d_2)Ke^{-r\cdot{t}}
$$
******
$$
d_1 = \frac{1}{s \cdot \sqrt{(t)}} [ ln( \frac{S}{K}) +( r + \frac{s^2}{2})(t) ]
$$
******
$$
d_2 = d_1-s\sqrt{t} = \frac{ ln( \frac{S}{K} ) + (r - \frac{s^2}{2} )t}{s \cdot \sqrt{t}}
$$
<br/>
S - Stock current price<br/>
K - Strike price at which the option exercised<br/>
t - Option's time until expiration<br/>
r - Risk-free rate<br/>
s - Standard deviation of underlying asset<br/>
N - Normal distribution<br/>

In [52]:
import numpy as np
from scipy.stats import norm
import pandas as pd
from pandas_datareader import data as wb

In [29]:
def d1(S,K,r,s,t):
    return (np.log(S/K) + (r+s**2/2)*t)/(s*np.sqrt(t))

In [30]:
def d2(S,K,r,s,t):
    return (np.log(S/K)+(r-s**2/2)*t)/(s*np.sqrt(t))

In [95]:
def BSM(S,K,r,s,t):
    return (norm.cdf(d1(S,K,r,s,t))*S) - (norm.cdf(d2(S,K,r,s,t))*K*np.exp(-r*t))

In [96]:
x=norm.cdf(d1(10,200,32,4.0,150))*np.exp(-32*150)
x

0.0

In [97]:
ticker='PG'
sec_prices=pd.DataFrame()
sec_prices[ticker]=wb.DataReader(ticker,data_source='yahoo',start='2007-1-1', end ='2017-3-21')['Adj Close']
sec_prices

                   PG
Date
2007-01-03  42.380424
2007-01-04  42.058666
2007-01-05  41.697510
2007-01-08  41.789440
2007-01-09  41.684357
...               ...
2017-03-15  81.414391
2017-03-16  81.450005
2017-03-17  81.058083
2017-03-20  81.254051
2017-03-21  81.227325

[2572 rows x 1 columns]

In [98]:
S=sec_prices.iloc[-1]
S

PG    81.227325
Name: 2017-03-21 00:00:00, dtype: float64

In [99]:
sec_returns=np.log(1+sec_prices.pct_change())
sec_returns

                  PG
Date
2007-01-03       NaN
2007-01-04 -0.007621
2007-01-05 -0.008624
2007-01-08  0.002202
2007-01-09 -0.002518
...              ...
2017-03-15  0.004386
2017-03-16  0.000437
2017-03-17 -0.004823
2017-03-20  0.002415
2017-03-21 -0.000329

[2572 rows x 1 columns]

In [100]:
stdev=sec_returns.std()*250**0.5
s=stdev
s

PG    0.17655
dtype: float64

In [101]:
r=0.025
K=110.0
t=1

In [102]:
d1(S,K,r,s,t)

PG   -1.487644
dtype: float64

In [103]:
d2(S,K,r,s,t)

PG   -1.664194
dtype: float64

In [104]:
BSM(S,K,r,s,t)

PG    0.404182
Name: 2017-03-21 00:00:00, dtype: float64

In [105]:
def BSM2(S, K, r, stdev, T):
        return (S * norm.cdf(d1(S, K, r, stdev, T))) - (K * np.exp(-r * T) * norm.cdf(d2(S, K, r, stdev, T)))

In [106]:
BSM2(S,K,r,s,t)

PG    0.404182
Name: 2017-03-21 00:00:00, dtype: float64